@charset "utf-8";

.dtable{
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
.dtable_c{
	display: table-cell;
	border: 0px solid #666;
	vertical-align: middle;
	text-align: center;
    padding-bottom: 20px;
}
.dtable_c img{
	margin: 0;
}
.dtable_c ruby {
	font-size: 1.5em;
}
.dtable_c rt {
	text-align: center;
}

.dtable_r{
	display: table-row;
	font-size: 0.6em;
}

@media(max-width: 375px){
    .dtable{
        width: 100%;
    }
}
/*スマホ用にmin-widthを指定した後 width:100% で勝手に合わせてくれるように調整 (みけち 2022/11/17追記) そもそもmediaで変更しなくても width:600px のところを width100% にすると横に自動的に伸ばしてくれました。*/

.bigframe {
	font-size: 62.5%;
    width: 450px;
    margin: 0 auto;
    border: solid 2px #333;
}
.headline, .start-item {
    display: flex;
}
.headline {
    width: 350px;
    margin: 0 auto;
}
.character {
    margin: 0 10px 10px 10px;
    border-bottom: solid 2px #333;
}
.chara-name {
    width: 150px;
    margin-top: 65px;
}
.chara-icon {
	margin: 20px;
}
.small {
    font-size: 1.0rem;
    margin-bottom: 10px;
}
.statframe {
    margin: 10px;
    border-bottom: solid 2px #333;
}
.statframe {
    margin: 10px;
}
.stat {
    margin: 0 0 10px 10px;
}
.stat>div {
    font-weight: 600;
    margin-bottom: 10px;
}
ul.stat-detail {
    list-style: none;
    column-count: 2;
}
ul.stat-detail li {
    display: flex;
    font-size: 0.8rem;
    vertical-align: middle;
}
.stat-detail {
    margin: 10px 0 0 10px;
}
ul.stat-detail li::before {
    display: inline-block;
    content: "";
    width: 40px;
    height: 40px;
    /*background-image: url(../icon/stat.png);*/
	background-image: url(/image/characters/stat.png);
    background-size: 120px 80px;
    background-repeat: no-repeat;
}
ul.stat-detail li:nth-child(1)::before {
    background-position: 1px 0;
}
ul.stat-detail li:nth-child(2)::before {
    background-position: -40px 0;
}
ul.stat-detail li:nth-child(3)::before {
    background-position: -83px 0;
}
ul.stat-detail li:nth-child(4)::before {
    background-position: 0px -40px;
}
ul.stat-detail li:nth-child(5)::before {
    background-position: -40px -42px;
}
ul.stat-detail li:nth-child(6)::before {
    background-position: -81px -42px;
}
ul.stat-detail li div {
    vertical-align: middle;
    text-align: center;
}
ul.stat-detail li > div {
    width: 65px;
    height: 40px;
}
.numbers {
    padding-left: 10px;
    /*width: 70px;　←そもそもここのwidthは利いてないからいらない*/
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}
.label {
    padding-top: 11px;
    /*width: 105px;*/
}
	/* のんりず：width 105pxが入るとcenterが効いてnumbersのセンタリングとずれる */
/*.label0 {
    padding-top: 5px;
}*/
    /* .label0をなくしてlabelのwidthを105pxにしたい */

.itemframe {
    margin: 10px;
}
.item {
    margin-left: 10px;
}
.item {
    font-weight: 600;
    margin-bottom: 10px;
}
.start-item {
    font-size: 0.8rem;
    vertical-align: middle;
    text-align: center;
}
.box {
    display: flex;
    margin: 0 20px 0 10px;
}
.box img {
    width: 48px;
    height: 48px;
}
.label2 {
    /*height: 50px;*/
    /*line-height: 50px;*/
}

@media(min-width:750px){
    .browser {
        display: flex;
    }
    .bigframe {
        width: 100%;
        max-width: 1050px;
        border: solid 2px #333;
    }
    .headline {
        width: 365px;
    } 
    /*.headline width:365pxにすることでキャラのアイコンと名前の欄を統一*/
    .stat {
        margin: 15px 0 0 20px;
    }
    .character, .statframe {
        border: none;
    }
    .character {
        margin-top: 55px;
    }
    .chara-name {
        width: 100px;
        margin-top: 30px;
    }
    .chara-name>div {
        width: 175px;
    }
    /*.character margin-top: 55px + .chara-name margin-top:30px で調整*/
    /*.chara-name>div width:175px にすることで日本語名を全て一列に表示できる*/

    .statframe {
        margin-top: 20px;
        border-left: solid 2px #333
    }
    ul.stat-detail li {
		
        margin-bottom: 20px;
    }
    /* margin-bottom: 20px　を入れることで全体を大きく縦に拡張 */

    .itemframe {
        border-top: solid 2px #333;
    }
    .item {
        display: flex;
        margin: 15px 0 0 20px;
        height: 90px;
        line-height: 50px;
    }
    .label2 {
        width: 385px;
        margin-left: 10px;
    }
    /*.label2 width:230px,margin-left: 10px にすることでそれっぽい感じに調整, edenなどの初期アイテムが長くなりそうなキャラクターには見やすいところに<span></span>をどうにか挟みたい*/
}

