{% extends "page.html" %}
{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path="stat.css", trailing_slash=false) }}">
{% endblock extra_head %}
{% block content %}
<h4>キャラクター<br />（キャラ名・画像をクリックして詳細ページに移動します）</h4>
{% set data = load_data(path="static/characters.csv", format="csv") %}
<div class="dtable">
	<div class="dtable_r">
	{% for record in data.records %}
		{% set_global Character_name = record[0] %}
		<div class="dtable_c">
			{% set imgpath = ["/image/characters/", Character_name, ".png"] | join() %}
			{% set image = resize_image(path=imgpath, width=110, height=110, op="fit_height") %}
			{% set imgpath2 = ["/image/characters/", Character_name, "_paint.png"] | join() %}
			{% set image2 = resize_image(path=imgpath2, width=110, height=110, op="fit_height") %}
			<a href="/wiki/{{record.0}}"><img src="{{ image.url }}" onmouseover="this.src='{{ image2.url }}'" onmouseout="this.src='{{ image.url }}'"></a>
			<a href="/wiki/{{record.0}}"><div><ruby>{{record.2}}<rt>{{record.1}}</rt></ruby></div></a>
		</div>
		{% if loop.index % 5 == 0 %}
	</div>
		<div class="dtable_r">
			{% endif %}
			{% endfor %}
		</div>
</div>
{% endblock %}
