<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
      <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
      <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="override.css", trailing_slash=false) }}">

      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body>
        {% block sidebar %}
            <div class="sidebar">
                <div class="container">
                    <div class="sidebar-about">
                        {% block sidebar_about %}
							{% set imgpath = "/image/sites/logo.png" %}
							{% set image = resize_image(path=imgpath, width=220, op="fit_width") %}
							<img src="{{ image.url }}">
                            <a href="{{ config.base_url }}"><p class="lead">{{ config.title }}</p></a>
                            {% if config.description %}
                            <p class="lead">{{config.description}}</p>
                            {% endif %}
                        {% endblock sidebar_about %}
                    </div>

                    <ul class="sidebar-nav">
                        {% block sidebar_nav %}
                        {% for link in config.extra.hyde_links %}
                        <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
                        {% endfor %}
                        {% endblock sidebar_nav %}
                    </ul>
                </div>
            </div>
        {% endblock sidebar %}

        <div class="content container">
            {% block content %}
                <div class="posts">
                    {% for page in section.pages | reverse %}
                      <div class="post">
                        <h1 class="post-title">
                          <a href="{{ page.permalink }}">
                            {{ page.title }}
                          </a>
                        </h1>

                      </div>
                    {% endfor %}
                </div>
            {% endblock content %}
        </div>

    </body>

</html>
