{% extends "index.html" %}

{% block extra_head %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block content %}

  <!-- ピクセルアート用の読み込み -->
  <style>
    img {
      image-rendering: pixelated;
    }
  </style>
  <!--
  <form class="js-filter-form list_checkbox">
    <label><input type="checkbox" name="room-table" value="normal" checked>通常</label>
    <label><input type="checkbox" name="room-table" value="devil" checked>悪魔</label>
    <label><input type="checkbox" name="room-table" value="angel" checked>天使</label>
    <label><input type="checkbox" name="room-table" value="shop" checked>店</label>
  </form>
  -->
  {% set data = load_data(path = "static/items.csv", format = "csv") %}
  <table id="itemTable" class="table">
    <thead>
      <tr>
        {% for header in data.headers %}
          {% if loop.first %}
            <th>画像</th>
          {% elif loop.index == 7 %}
          {% else %}
            <th>{{header}}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for record in data.records %}
        {% set_global norm_name = record[0] %}
        <tr>
          {% for cell in record %}
            {% if loop.first %}
              <td style="padding: 0;">
                <a href="/wiki/{{norm_name}}"><img src="/image/{{norm_name}}.png" width="64px" height="64px" loading="lazy"></a>
              </td>
            {% elif loop.index == 2 %}
              <td>
                <a href="/wiki/{{norm_name}}">{{cell}}</a>
              </td>
            {% elif loop.index == 7 %}
            {% else %}
              <td>{{cell}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    $(document).ready(function () {
      $('.table').tablesorter({
        textExtraction: function (node, table, i) {
          var attr = $(node).attr('data-value');
          var type = $(table)
            .find(`thead tr th:nth-of-type(${i + 1})`)
            .text()
          if (typeof attr !== 'undefined' && attr !== false) {
            return attr;
          } else if (type == 'ID') {
            var id = parseInt($(node).text().split('.').pop())
            return id;
          }
          return $(node).text();
        }
      });
    });
    $(".js-filter-form :checkbox").on("click", function(){
      var checked = [];
      $(".js-filter-form :checked").each(function(){
        checked.push($(this).val());
      });
        console.log(checked);
        
        $(".js-filter-items tbody tr").each(function(){
            var cat = $(this).data("cat");
            console.log(cat);
            var is_exist = $.inArray( cat, checked );
            console.log('exit' + is_exist);
            if (is_exist != -1) {
          $(this).removeClass("hidden");
        
        } else {
          $(this).addClass("hidden");
        }
        });
    });
  </script>

{% endblock %}
