{% extends "page.html" %}
{% block content %}
<h2>The Binding of Isaac: Rebirth 日本語Wikiへようこそ！</h2>


<p>
このWikiはThe Binding of Isaac: Rebirth（アイザックの伝説）の日本人プレイヤーに向けて作られたサイトです。<br />
アイテム、キャラクターなどのコンテンツ情報に加え、攻略などに必要な情報をまとめています（随時更新予定です）。<br />
本WIkiは海外WikiであるThe Binding of Isaac: Rebirth Wikiの内容を基準に作成しています。<br />
</p>

<h3>メニュー</h3>

<table style="table-layout: fixed; border-radius: 10px; border-collapse: separate;">
<tbody>
	<tr>
		<th style="border-style: none;"><a href="/about/"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_about.png"><br />About</a></th>
		<th style="border-style: none;"><a href="/itemlist/"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_item.png"><br />アイテム</a></th>
		<th style="border-style: none;"><a href="/Trinkets/"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_trinket.png"><br />トリンケット</a></th>
		<th style="border-style: none;"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_sorry.png"><br />ピックアップ</th>
		<th style="border-style: none;"><a href="/Characters/"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_character.png"><br />キャラクター</a></th>
		<th style="border-style: none;"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_sorry.png"><br />チャレンジ</th>
	</tr>
	<tr>
		<th style="border-style: none;"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_sorry.png"><br />実績</th>
		<th style="border-style: none;"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_sorry.png"><br />モンスター</th>
		<th style="border-style: none;"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_sorry.png"><br />ボス</th>
		<th style="border-style: none;"><a href="/operation/"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_operation.png"><br />操作方法</a></th>
		<th style="border-style: none;"><img style="margin: 0 0 0 0;width:64px;" src="/image/sites/topmenu_sorry.png"><br />用語</th>
	</tr>
</tbody>
</table>

<h3>Join us</h3>

<p>
お問い合わせ、お気づきの点等がありましたら<a href="http://discord.gg/4XkGkqh">Isaac JPサーバー</a>のwiki総合チャンネルにお願いします。
</p>

<h3>更新履歴</h3>

<ul>
<li>2022.04.01 : 本サイト公開</li>
</ul>

{% endblock %}
