{% extends "index.html" %}

{% block content %}
<h2>The Binding of Isaac: Rebirth 日本語Wikiへようこそ！</h2>

<p>
<strong>日本語Wikiは<a href="https://wikiwiki.jp/tboi_rebirth/">新しいウェブサイトに移転しました</a>。移転にともない、こちらのウェブサイトは更新停止しております。</strong> <br />

</p>
	
<p>
このWikiはThe Binding of Isaac: Rebirth（アイザックの伝説）の日本人プレイヤーに向けて作られたサイトです。<br />
アイテム、キャラクターなどのコンテンツ情報に加え、攻略などに必要な情報をまとめています（随時更新予定です）。<br />
本Wikiは海外WikiであるThe Binding of Isaac: Rebirth Wikiの内容を基準に作成しています。<br />

</p>

<h3>メニュー</h3>

<table style="table-layout: fixed; border-radius: 10px; border-collapse: separate;">
<tbody>
	<tr>
		<th style="border-style: none;"><a href="/items/"><img src="/image/Schoolbag.png" width="64px" height="64px"><br />アイテム</a></th>
		<th style="border-style: none;"><a href="/trinkets/"><img src="/image/Mom%27s_Purse.png" width="64px" height="64px"><br />トリンケット</a></th>
		<th style="border-style: none;"><a href="/Rooms"><img src="/image/Dad%27s_Key.png" width="64px" height="64px"><br />部屋</a></th>
		<th style="border-style: none;"><a href="/cardsandrunes"><img src="/image/Deck_of_Cards.png" width="64px" height="64px"><br />カード・ルーン</a></th>
		<th style="border-style: none;"><a href="/pills"><img src="/image/Caffeine_Pill.png" width="64px" height="64px"><br />ピル</a></th>
		<!-- <th style="border-style: none;"><img src="/image/sites/topmenu_sorry.png"><br />チャレンジ</th> -->
	</tr>
	<tr>
		<th style="border-style: none;"><a href="/characters/"><img src="/image/Decap_Attack.png" width="64px" height="64px"><br />キャラクター</a></th>
		<!-- <th style="border-style: none;"><img src="/image/sites/topmenu_sorry.png"><br />モンスター</th> -->
		<!-- <th style="border-style: none;"><img src="/image/sites/topmenu_sorry.png"><br />ボス</th> -->
		<th style="border-style: none;"><a href="/achievements/"><img src="/image/More_Options.png" width="64px" height="64px"><br />実績</a></th>
		<th style="border-style: none;"><a href="/tips/"><img src="/image/Treasure_Map.png" width="64px" height="64px"><br />攻略情報</a></th>
		<th style="border-style: none;"><a href="/keyconfig/"><img src="/image/The_Gamekid.png" width="64px" height="64px"><br />操作方法</a></th>
		<!-- <th style="border-style: none;"><img src="/image/sites/topmenu_sorry.png"><br />用語</th> -->
		<th style="border-style: none;"><a href="/about/"><img src="/image/Brimstone.png" width="64px" height="64px"><br />About</a></th>
	</tr>
</tbody>
</table>

<h3>Join us</h3>

<p>
お問い合わせ、お気づきの点等がありましたら<a href="http://discord.gg/4XkGkqh">Isaac JPサーバー</a>のwiki総合チャンネルにお願いします。
</p>
{% endblock %}
