{% extends "page.html" %}
{% block content %}
  {% set data = load_data(path = "static/trinkets.csv", format = "csv") %}
  <table id="itemTable" class="table">
    <thead>
      <tr>
        {% for header in data.headers %}
          {% if loop.first %}
            <th>画像</th>
          {% else %}
            <th>{{header}}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for record in data.records %}
        {% set_global norm_name = record[0] %}
        <tr>
          {% for cell in record %}
            {% if loop.first %}
              <td>
                <a href="/wiki/{{norm_name}}"><img src="/image/{{norm_name}}.png" loading="lazy"></a>
              </td>
            {% elif loop.index == 2 %}
              <td>
                <a href="/wiki/{{norm_name}}">{{cell}}</a>
              </td>
            {% else %}
              <td>{{cell}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    $(function () {
      $('.table').tablesorter({
        textExtraction: function (node) {
          var attr = $(node).attr('data-value');
          if (typeof attr !== 'undefined' && attr !== false) {
            return attr;
          }
          return $(node).text();
        }
      });
    });
  </script>
{% endblock %}
